.captionator-title {
	font-size: 16pt;
	font-family: Helvetica, Arial, sans-serif;
	color: white;
	text-shadow: black 0px 0px 5px;
	font-weight: bold;
	width: 984px;
	padding-left: 20px;
	padding-right: 20px;
	text-align: center;
	display: block;
	line-height: 32px;
}

.arduino {
	color: red;
	text-transform: uppercase;
	font-family: "Helvetica Neue";
	font-weight: lighter;
}

.captionator-title a {
	text-decoration: none;
	font-weight: bold;
	letter-spacing: 5pt;
	font-family: "Helvetica Neue";
	font-weight: bolder;
	color: red;
}